<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}Задачник{% endblock %}</title>
    {% endblock %}
</head>
<body>
<!-- Page Content -->
{% block content %}{% endblock %}
</body>
</html>
