{% extends "base.html.twig" %}
{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-lg-3"></div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-9">
                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Edit task #{{ values.id }}
                    </div>
                    <div class="card-body">
                        {% if message %}
                            <div class="d-flex p-2 bg-success mb-2 rounded">{{ message }}</div>
                        {% endif %}
                        <form method="POST" action="">
                            {% include 'task/common_fields.html.twig' %}
                            <div class="form-check mb-2">
                                <input name="status" value="1" type="checkbox" {{ values.status ?'checked="checked"':'' }} class="form-check-input"
                                       id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Status: completed</label>
                            </div>
                            <button name="save" value="1" type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
{% endblock %}
